body {
  background-color: #ffffff;
  font-family: 'Source Serif Pro', Inter, serif;
  font-size: 17px;
  margin: auto;
  max-width: 70ch;
  text-align: left;
  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
  color: #444;
  margin-top: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
  margin-bottom: 0px;
}

a {
  color: inherit;
}

nav a {
  padding-right: 8px;
}

img {
  width: 100%;
}

h1.site-header {
  text-align: center;
}

.postList {
  list-style: none;
  padding-left: 16px;
  padding-right: 64px;
}
