---
import BaseLayout from '../components/BaseLayout.astro';

import { getTagsToPosts } from '../data/posts.js';

let posts = await Astro.glob(`../_posts/*.mdx`);
---

<BaseLayout>
  <ul>
    {
      posts.map(
        ({
          url,
          frontmatter: { title, slug, tags, published }
        }) => (
          <li>
            {title}
          </li>
        )
      )
    }
  </ul>
</BaseLayout>
