---
---

<contactFooter>
  <h2> Contact </h2>
  <p>
    I can't put my email address on this website or I'll get spammed. To get my
    email address, just turn these numbers into ascii: <code> [98, 101, 110, 64, 98, 101, 110, 101, 103, 103, 101, 114, 115, 46, 99, 111, 109] </code>.
  </p>
</contactFooter>
