---
---

<contactFooter>
  <h2> Contact </h2>
  <p>
    You can find my contact info <a href='/contact'>here</a>.
  </p>
  <p>
    If we know each other and you'd like to subscribe to my personal newsletter,
    click here (TODO).
  </p>
</contactFooter>
