---
---

<contactScript>
  <h2> Let's connect! </h2>
  
  <p>
    I can't put my raw email address on this site due to robot and recruiter spam.
  
    To contact me, simply run the script below, which will output my email address.
  </p>
  
  <code>
  #!/usr/bin/python3
  
  chars = [98, 101, 110, 64, 98, 101, 110, 101, 103, 103, 101, 114, 115, 46, 99, 111, 109]
  out = []
  for c in chars:
    out.append(c)
  
  print("".join(out))
  </code>
</contactScript>
