---
---

<contactFooter>
  <h2> Contact </h2>
  <p>
    You can contact me by emailing ben@beneggers.com.
  </p>
  <p>
    If we know each other and you'd like to subscribe to my personal newsletter,
    click here (TODO).
  </p>
</contactFooter>
