---
const today = new Date();
---

<style>
	.copywrite {
		padding: 25px;
		text-align: center;
	}
</style>

<footer>
  <h2> Posts by tag </h2>
  <p>
    Posts by tag will go here.
  </p>

  <h2> Contact </h2>
  <p>
    Get in touch! You can reach me at ben@beneggers.com.
  </p>

  <div class="copywrite">
	  &copy; {today.getFullYear()} Ben Eggers
  </div>
</footer>
