---
import ContactFooter from './ContactFooter.astro';

const today = new Date();
---

<style>
	.copywrite {
		padding: 25px;
		text-align: center;
	}
</style>

<footer>
  <h2> Posts by tag </h2>
  <p>
    Posts by tag will go here.
  </p>

  <ContactFooter />

  <div class="copywrite">
	  &copy; {today.getFullYear()} Ben Eggers
  </div>
</footer>
