---
import Section from './Section.astro';
import TagList from './TagList.astro';

import { getTagsToCounts } from '../data/tags.js';

const today = new Date();

const posts = await Astro.glob(`../_posts/*.mdx`);
const tagsToCounts = getTagsToCounts(posts);
---

<style>
	.copywrite {
		padding: 25px;
		text-align: center;
	}
</style>

<footer>
  <Section>
    <h2> Posts by tag </h2>
    <TagList tags={Object.keys(tagsToCounts)} tagsToCounts={tagsToCounts}} />
  </Section>

  <Section>
    <h2> Contact </h2>
    <p style="margin: 0px;">
      Get in touch! You can reach me at ben@beneggers.com. Please use
      <a href="https://github.com/beggers/beneggers.com/issues">Github</a> to
      report any issues with the site.
    </p>
  </Section>

  <Section>
    <div class="copywrite" style="padding: 0px;">
      &copy; {today.getFullYear()} Ben Eggers
    </div>
  </Section>
</footer>
