---
---

<landingPageIntro>
  <h1>Hello, internet</h1>
  <p>
    I'm Ben. Welcome to my small corner of the internet. I like to write here about
    lots of things, including my work in software reliability, my running and hiking
    trips, and my process of grieving someone close to me who I lost in February 2022.
  </p>
  
  <p>
    I also do interview coaching. I love helping people brush up their skills and
    land their dream tech job. If you want my help, please contact me using the
    email at the bottom of the page.
  </p>
</landingPageIntro>
