---
---

<landingPageIntro>
  <h1>Hello, internet</h1>
  <p>
    I'm Ben. Welcome to my small corner of the internet!
  </p>
  <p>
    I like to write about software reliability with a special focus on
    monitoring, alerting, observability, and incident management for web-based
    SaaS apps. I sometimes write about how I stay productive as an engineer
    and how I stay well as a human being.
  </p>
  <p>
    I current sell my labor to TODO, where I work as a senior software engineer
    focusing on reliability. You can view my full resume here (TODO).
  </p>
</landingPageIntro>
