---
import Section from './Section.astro';
---

<landingPageIntro>
  <Section class="site-header">
    <h1 class="site-header">Hello</h1>
  </Section>
  <Section>
    <p>
      I'm Ben. Welcome to my small corner of the internet.
    </p>
    <p>
      I'm trying to write more: it always helps clarify my thoughts,
      and I would like to practice turning my thoughts into compelling
      prose.

      I think and write about software, mentoring, the books I read, backpacking,
      rest, and how to achieve balance in an increasingly frenetic world.

      This website exists for me more than for anyone else.
    </p>
    <p>
      I currently sell my labor to <a href="https://mercury.com/">Mercury</a>, where I am
      a senior engineer on the Growth team. Previously: Reliability @
      <a href="https://stripe.com/">Stripe</a>, SRE @ <a href="https://google.com/">Google</a>.
    </p>
  </Section>
</landingPageIntro>
