---
import Section from './Section.astro';
---

<landingPageIntro>
  <Section class="site-header">
    <h1 class="site-header">Hello, internet</h1>
  </Section>
  <Section>
    <p>
      I'm Ben.
    </p>
    <p>
      I like to write about lots of things, including software, mentoring, rest,
      and general wellness. Sometimes I <a href="learning-out-loud">change my views</a>.
      Please be nice!
    </p>
    <p>
      I currently sell my labor to <a href="https://mercury.com/">Mercury</a>, where I am
      a senior engineer on the Growth team. Previously: Reliability @
      <a href="https://stripe.com/">Stripe</a>, SRE @ <a href="https://google.com/">Google</a>.
    </p>
  </Section>
</landingPageIntro>
