---
import HeaderLink from './HeaderLink.astro';
---

<navHeader>
  <header>
	  <nav>
		  <HeaderLink href="/">Home</HeaderLink>
		  <HeaderLink href="/all-posts">All Posts</HeaderLink>
	  </nav>
  </header>
</navHeader>
<style>
	header {
		margin: 0em 0 2em;
	}
</style>
