---
import HeaderLink from './HeaderLink.astro';
---

<navHeader>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/all-posts">All Posts</HeaderLink>
	</nav>
</navHeader>
<style>
	header {
		margin: 0em 0 2em;
	}
</style>
