---
import TagList from './TagList.astro';

const { slug, title, tags, published } = Astro.props;
---

<postListItem>
  <li>
    {published}
    <a href={slug}>{title}</a>
    <TagList tags={tags}>
  </li>
</postListItem>
