---
import TagList from './TagList.astro';

const { slug, title, tags, published } = Astro.props;
---

<style>
  .postListItemTitle {
    text-decoration: none;
  }
  .publishDate {
    color: #777777;
    display: inline-block;
    float: right;
    margin-right: 20px;
    padding-top: 4px;
  }
  .postListItem {
    margin-bottom: 10px;
  }
</style>

<postListItem>
  <li class="postListItem">
    <div class="publishDate"> {published}</div>
    <h3><a class="postListItemTitle" href={slug}>{title}</a></h3>
    <TagList tags={tags}>
  </li>
</postListItem>
