---
import { recentPosts } from '../data/posts.js';
import PostListItem from './PostListItem.astro';
import Section from './Section.astro';

let allPosts = await Astro.glob('../_posts/*.mdx');
const recents = await recentPosts(allPosts);
---

<recentPosts>
  <Section>
    <h2> Recent Posts </h2>
    <ul class="postList">
      {
        recents.map(
          ({
            url,
            frontmatter: { title, slug, published, tags }
          }) => (
            <PostListItem {slug} {title} {published} {tags} />
          )
        )
      }
    </ul>
  </Section>
</recentPosts>
