---
import { recentPosts } from '../data/posts.js';

let allPosts = await Astro.glob('../_posts/*.mdx');
const recents = await recentPosts(allPosts);
---

<recentPosts>
  <h2> Recent Posts </h2>
  <ul>
    {
      recents.map(
        ({
          url,
          frontmatter: { title, slug, published, tags }
        }) => (
          <p> <a href={slug}>{title}</a> {published} {tags} </p>
        )
      )
    }
  </ul>
</recentPosts>
