---
const { label, count } = Astro.props;
const plural = count !== 1 ? "s" : "";
---

<style>
  .tag {
    padding-inline: 4px;
    border-radius: 8px;
    display: inline-block;
    border: 0px solid;
  }
  .tag:hover {
    border: 1px solid;
  }
</style>

<a class="tag" href=`/${label}`>
  {label}
  {count !== undefined ? ` (${count} post${plural})` : ""}
</a>
