---
import Tag from './Tag.astro';

const { tags, tagsToCounts } = Astro.props;
---

<style>
  .taglist {
    padding-inline-start: 0px;
  }
  .taglistitem {
    display: inline;
    padding-right: 0px;
  }
</style>

<tagList>
  <ul class="taglist">
    {
      tags.map((tag) => (
        <li class="taglistitem">
          <Tag label={tag} count={(tagsToCounts !== undefined && tagsToCounts[tag]) || undefined}/>
        </li>
      ))
    }
  </ul>
</tagList>