<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head %}
  </head>
  <body>
    <div class="page-body">
      {% include nav-sidebar %}
      <section class="content">
        <h1 class="page-title">The Ben Eggers Fun and Silly Online Experience™</h1>
        <h2 class="post-date">GMO-free!</h2>
        <p>
            Hi! My name is Ben Eggers -- I'm also known as beggers and (occasionally) cantbechoosers.
        </p>
        <figure>
            <img src="{% protocol %}://claire-and-the-bens.{% base_url %}">
            <figcaption>Me (on the left) with two of my best friends: <a href="https://www.sexclarified.com/">Claire Perelman</a> and Ben Goldsmith.</figcaption>
        </figure>
      </section>
      <footer class="page-footer">
        {% include footer %}
      </footer>
    </div>
  </body>
</html>
