<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head %}
  </head>
  <body>
    <div class="page-body">
      {% include nav-sidebar %}
      <section class="content">
        <h1 class="page-title">The Ben Eggers Fun and Silly Online Experience™</h1>
        <h2 class="page-subtitle">GMO-free!</h2>
        <p>
            Hi! My name is Ben Eggers -- I'm also known as beggers and (sometimes) cantbechoosers.
        </p>
        <figure>
            <img src="{% protocol %}://claire-and-the-bens.{% base_url %}">
            <figcaption>Me (left) with two of my best friends: <a href="https://www.sexclarified.com/">Claire</a> (center) and Other Ben (right).</figcaption>
        </figure>
        <p>
            I like to hike (PCT '22), lift weights, meditate, make music, throw and attend weird parties, and cook for my friends. In past chapters of life I have been a therapist and, separately, a Mandarin/English transalator. These days I work as a Staff Software Engineer at OpenAI.
        </p>
        </figure>
      </section>
      <footer class="page-footer">
        {% include footer %}
      </footer>
    </div>
  </body>
</html>
