@import 'colors.css';
@import 'content.css';
@import 'footer.css';
@import 'footnote.css';
@import 'header.css';
@import 'site-title.css';
@import 'typography.css';

html {
    margin: 1rem auto;
}

body {
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 60ch 15%;
    grid-template-rows: 5% auto 10%;
    background-color: var(--bg);
    color: var(--main-text);
    overflow-wrap: break-word;
}