.page-header {
    grid-column: 1;
    grid-row: 2;
}

nav {
    align-items: baseline;
    margin-left: 1rem;
}

.navigation {
    flex-grow: 1;
}

.navigation ul {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    gap: 0rem 1.5rem;
}

.navigation li {
    padding-top: 0.25rem;
    text-transform: lowercase;
}

.navigation li::marker {
    content: "./";
}