.page-title {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    color: var(--header);
    text-align: center;
}

.page-title:before {
    content: none;
}

.post-date {
    font-size: 1.0rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--muted-text);
    text-align: center;
}

.post-date:before {
    content: none;
}